src/CenterServerInterface.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://server/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://server/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://server/" schemaLocation="CenterServerInterface_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="createMRecord">
    <part name="parameters" element="tns:createMRecord"/>
  </message>
  <message name="createMRecordResponse">
    <part name="parameters" element="tns:createMRecordResponse"/>
  </message>
  <message name="transferRecords">
    <part name="parameters" element="tns:transferRecords"/>
  </message>
  <message name="transferRecordsResponse">
    <part name="parameters" element="tns:transferRecordsResponse"/>
  </message>
  <message name="createERecord">
    <part name="parameters" element="tns:createERecord"/>
  </message>
  <message name="createERecordResponse">
    <part name="parameters" element="tns:createERecordResponse"/>
  </message>
  <message name="editRecord">
    <part name="parameters" element="tns:editRecord"/>
  </message>
  <message name="editRecordResponse">
    <part name="parameters" element="tns:editRecordResponse"/>
  </message>
  <message name="getRecordCounts">
    <part name="parameters" element="tns:getRecordCounts"/>
  </message>
  <message name="getRecordCountsResponse">
    <part name="parameters" element="tns:getRecordCountsResponse"/>
  </message>
  <message name="getLocalCounts">
    <part name="parameters" element="tns:getLocalCounts"/>
  </message>
  <message name="getLocalCountsResponse">
    <part name="parameters" element="tns:getLocalCountsResponse"/>
  </message>
  <message name="searchIfRecordExists">
    <part name="parameters" element="tns:searchIfRecordExists"/>
  </message>
  <message name="searchIfRecordExistsResponse">
    <part name="parameters" element="tns:searchIfRecordExistsResponse"/>
  </message>
  <portType name="CenterServerInterface">
    <operation name="createMRecord">
      <input ns1:Action="http://server/CenterServerInterface/createMRecordRequest" message="tns:createMRecord" xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns2:Action="http://server/CenterServerInterface/createMRecordResponse" message="tns:createMRecordResponse" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="transferRecords">
      <input ns3:Action="http://server/CenterServerInterface/transferRecordsRequest" message="tns:transferRecords" xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns4:Action="http://server/CenterServerInterface/transferRecordsResponse" message="tns:transferRecordsResponse" xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="createERecord">
      <input ns5:Action="http://server/CenterServerInterface/createERecordRequest" message="tns:createERecord" xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns6:Action="http://server/CenterServerInterface/createERecordResponse" message="tns:createERecordResponse" xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="editRecord">
      <input ns7:Action="http://server/CenterServerInterface/editRecordRequest" message="tns:editRecord" xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns8:Action="http://server/CenterServerInterface/editRecordResponse" message="tns:editRecordResponse" xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getRecordCounts">
      <input ns9:Action="http://server/CenterServerInterface/getRecordCountsRequest" message="tns:getRecordCounts" xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns10:Action="http://server/CenterServerInterface/getRecordCountsResponse" message="tns:getRecordCountsResponse" xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getLocalCounts">
      <input ns11:Action="http://server/CenterServerInterface/getLocalCountsRequest" message="tns:getLocalCounts" xmlns:ns11="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns12:Action="http://server/CenterServerInterface/getLocalCountsResponse" message="tns:getLocalCountsResponse" xmlns:ns12="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="searchIfRecordExists">
      <input ns13:Action="http://server/CenterServerInterface/searchIfRecordExistsRequest" message="tns:searchIfRecordExists" xmlns:ns13="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns14:Action="http://server/CenterServerInterface/searchIfRecordExistsResponse" message="tns:searchIfRecordExistsResponse" xmlns:ns14="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
  </portType>
</definitions>

